.bg{
    margin-top: -1150px; 
    background-color: white;
    opacity: 0.8;
    border-radius: 30px;
}
.img1{
    height: 650px;
    width: 100%;

}
.img2{
    height: 90px;
     width: 100px;
     border-radius: 50px;
}
.text{
    margin-top: -500px;
    color: white;
    text-align: center;
}
.text1{
    margin-top: -450px;
    color: white;
    text-align: center;
}
.r1{
    margin-top: -1000px;
}
.img3{
    height: 130px;
    width: 135px;
    margin-top: -600px;
    margin-left: 100px;
    border-radius: 100px;;
}
.img4{
    border-radius: 30px;
    width: 600px;
}