.home-img{
    height: 600px;
    width: 100%;
}
.logo{
    height: 90px;
    width: 90px;
}
.button1{
    background-color: rgb(239,191,44);
}
.p1{
    margin-top: -450px;
    color: white;
    text-align: center;
}
.h1-one{
    color: white;
    text-align: center;
}
.img-1{
   width: 150px;
   height: 150px;
   border-radius: 150px;
   margin-top:-400px ;
   margin-left: 50px;
}
.img-2{
    width: 150px;
   height: 150px;
   border-radius: 150px;
   margin-top:-250px ;
   margin-left: 280px;
}
.img-3{
    width: 150px;
    height: 150px;
    border-radius: 150px;  
    margin-top:-350px ;
    margin-left: 280px;
}
.img-4{
    width: 150px;
    height: 150px;
    border-radius: 150px;  
    margin-top:-350px ;
    margin-left: 710px;
}
.img-5{
    width: 150px;
    height: 150px;
    border-radius: 150px;  
    margin-top:-650px ;
    margin-left: 980px;  
}
.img-6{
    height: 550px;
    width: 570px;
}
.img-7 {
    height: 266px;
    width: 590px;
    border-radius: 20px;
    filter: grayscale(100%);
   
}
.img-8{
    height: 266px;
    width: 590px;
    border-radius: 20px;
   
    background-color: black;  
    margin-top: 50px;
    
}
.img-9{
    height:168px ;
    width: 557px;
    filter: grayscale(100%);
    border-radius: 20px;
    object-fit:fill;
}
.img-10{
    height:168px ;
    width: 557px;
    filter: grayscale(100%);
    border-radius: 20px; 
    margin-top: 50px;
    object-fit: cover;
}
.img-11{
    height:168px ;
    width: 557px;
    filter: grayscale(100%);
    border-radius: 20px; 
    margin-top: 50px;
    object-fit: cover;
    
    
} 
.separator-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.separator{
    flex-grow: 1;
    height: 1px;
    background-color: rgb(224, 218, 218);
}
.separator-text{
    padding: 0 10px ;
    white-space: nowrap;
    color: goldenrod;
} 
.btn-blue{
    background-color: rgb(0,147,212);
    color: white;
    font-size: 11px;
    margin-top: 20px;
    
}
.btn-green{
    background-color: rgb(94,186,162);
    color: white;
    font-size: 11px;
    margin-top: 20px;
    margin-left: 10px;
}




